---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout title="Proudly Pakistani Magazine">
<div class="main-box">
    <h1>Proudly Pakistani: Pakistan, South Asia & the broader Muslim World.</h1>
    
</div>

</MainLayout>
