---
import NavLink from './NavLinks.astro';
---
<header>
    <nav>
        <ul>
            <NavLink href="/" label="main" />
            <li class="not-bold">/</li>
            <NavLink href="/dev/" label="dev" />
            <li class="not-bold">/</li>
            <NavLink href="/writing/" label="writing" />
            <li class="not-bold">/</li>
            <NavLink href="/magazine/" label="magazine" />
            <li class="not-bold">/</li>
            <NavLink href="/podcasts/" label="podcasts" />
            <li class="not-bold">/</li>
            <NavLink href="/misc/" label="misc" />
        </ul>
    </nav>
</header>
