---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout title="Writing">
<div class="main-box">
    <h1>a place for essays, short stories and screenplays.</h1>
</div>

<h2>> Essays:</h2>
<ul>
    <li>Untitled India Article</li>
</ul>

<h2>> Short Stories:</h2>
<ul>
    <li>Decay</li>
</ul>
<h2>> Screenplays:</h2>
<h3>>> Television</h3>
<ul>
    <li>Untitled Project: MARZANNA</li>
</ul>
<h3>>> Film</h3>
<ul>
    <li>Untitled Project: FLIGHT 544</li>
</ul>

</MainLayout>
