---
import MainLayout from '../../layouts/MainLayout.astro';
---
<MainLayout title="Dev">
<div class="main-box">
    <h1>a place for software relate work.</h1>
    
</div>
<!-- 530x300 image dimensions -->
</MainLayout>
